// Specific CSS for your home-page
.home{
  background-color: #F0EEEB;
  margin: 2rem;

  img {
    width: 100%;
  }

  #details-home {
    padding-left: 6rem;

    span {
      font-size: 1.2rem;
    }

    h1{
      padding-top: 2rem;
      font-size: 4.4rem;
    }
  }

}
