<div class="service-field">
  <div class="row justify-content-between">
    <div class="col-md-8">
      <%= f.input :description, label: false, placeholder: "Service Description" %>
    </div>
    <div class="col-md-3 d-flex">
      <%= f.input :amount, label: false, placeholder: "Amount" %>
      <%= link_to_remove_association "", f, id: "destroy-btn", class: "fa-solid fa-trash col-md-2 badge-soft-danger" %>
    </div>
  </div>
</div>
