<div class="main" data-sidebar-target="toggle" data-controller="sidebar">
  <%= render 'partials/topbar' %>
  <div class="container col-md-12 mt-5">
    <div class="mt-4">
      <%= render 'partials/invoice_list' %>
    </div>
  </div>
</div>
