<div class="main" data-sidebar-target="toggle" data-controller="sidebar">
  <%= render 'partials/topbar' %>
  <div class="container col-md-12 invoice-margin">
    <%= render "partials/form_invoice", client: @client %>
  </div>
</div>
