<div class="topbar">
    <div class="toggle" data-action="click->sidebar#highlight">
      <i class="fa-solid fa-border-none" style="font-size: 2rem;"></i>
    </div>

    <%# <div class="search">
      <label>
          <ion-icon name="search-outline"></ion-icon>
          <input type="text" placeholder="Search here">
      </label>
    </div> %>
    <% if user_signed_in? %>
      <div class="user">
          <%= link_to  edit_user_registration_path do %>
            <%= image_tag current_user.image_logo %>
          <% end %>
      </div>
    <% end %>
</div>
