<div class="navbar navbar-expand-sm navbar-light navbar-invoice">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3 class="audiowide">INVOICE <span>Innovation</span></h3>
    <% end %>
  </div>
</div>
