<div class="main" data-sidebar-target="toggle" data-controller="sidebar">
  <%= render 'partials/topbar' %>
  <div class="details-grid mt-4">
    <%= render "partials/form", client: @client %>
 </div>
</div>
