<div class="main" data-sidebar-target="toggle" data-controller="sidebar">
  <%= render 'partials/topbar' %>
  <div class="container">
    <%= render 'partials/list', clients: @clients %>
  </div>
</div>
