<div class="main" data-sidebar-target="toggle" data-controller="sidebar">
  <%= render 'partials/topbar' %>
  <div class="new-client mt-5">
    <%= render 'partials/form', client: @client %>
  </div>
</div>
