<div class="home">
  <div class="row align-items-center">
    <div class="col-md-6">
      <%= image_tag "/assets/background-home.jpg" %>
    </div>
    <div class="col-md-6" id="details-home">
      <span>Smart Invoice</span>
      <h1 class="roboto">
        Invoice Innovation <br>Solution <br>Generator
      </h1>

    </div>
  </div>
</div>


<%# <%= render "/partials/sidebar" %>
