<div class="home row align-items-center">
  <div class="col-md-6">
    <%= image_tag "/background-home.jpg", class: "w-100" %>
  </div>
  <div class="col-md-6">
    <div>
      <span>Smart Invoice</span>
      <h1 class="roboto display-4 text-wrap">
        Invoice Innovation <br>Solution <br>Generator
      </h1>
    </div>
  </div>
</div>
