
<div class="home">
  <div class="d-flex align-items-center justify-content-between">
    <div class="flex-col">
      <%= image_tag "/assets/background-home.jpg" %>
    </div>
    <div class="flex-col" id="details-home">
      <span>Smart Invoice</span>
      <h1 class="roboto">
        Invoice Innovation <br>Generator <br>Solution
      </h1>
    </div>
  </div>
</div>
