// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "list";
@import "invoice";
@import "details";
@import "footer";
@import "login";
@import "new_sidebar";
@import "main";

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root {
  --blue: #0E223E;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}
