.invoice {
  padding: 2rem;
  border: .1rem solid #DEE2E6;
  border-radius: 1rem;

  p {
    border: .1rem solid #DEE2E6;
    border-radius: 1rem;
    padding: .5rem 1rem .5rem 1rem;

  }

  h4, h5 {
    font-weight: 600;
  }

  .vat-notes {
    margin-top: 4rem;
  }

  .services {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  textarea {
    height: 9.38rem;
    border-radius: 1rem;
  }

  #destroy-btn {
    padding-left: .5rem;
    padding-top: .7rem;
    text-align: right;
  }

  input {
    border-radius: 1rem;
  }

  .create-btn {
    border-radius: 0;
  }

}
