@import "bootstrap";
@import "font-awesome";

#notes {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: 1rem;
}


p {
  color: red;
}
